@import "../variables";

.button {
  background-color: $orange;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  transition: all $duration ease-in-out;

  &:hover {
    background-color: darken($orange, 5%);
  }

  &:active {
    transform: translateY(1px);
    background-color: darken($orange, 10%);
  }

  &__cart {
    display: flex;
    align-items: center;
    padding: 12px 25px;

    svg {
      margin-right: 8px;
    }
  }

  &__partition {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 15px;
  }

  span {
    font: {
      weight: 600;
      size: 16px;
    }
    color: #fff;
  }

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-width: 2px;
    margin-right: 0;
  }

  &__outline {
    background-color: #fff;
    border-color: $orange;

    span {
      color: $orange;
    }

    svg {
      path {
        fill: $orange;
      }
    }

    &:hover {
      background-color: $orange;

      span {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: darken($orange, 8%);
    }
  }

  &__add {
    svg {
      margin-right: 5px;
    }
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: darken($gray, 20%);

    svg {
      margin-right: 12px;
      path {
        fill: transparent;
      }
    }

    span {
      color: darken($gray, 20%);
      font-weight: 600;
    }

    &:hover {
      background-color: darken($gray, 90%);
      border-color: darken($gray, 90%);

      span {
        color: $gray;
      }

      svg {
        path {
          fill: transparent;
          stroke-width: 2;
        }
      }
    }
  }

  &__black {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    width: 210px;
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($black, 20%);
    }
  }
}
