@import "../mixins.scss";

.categories {
  display: flex;
  flex: 1;
  max-width: 80%;
  overflow: auto;
  gap: 8px;
  padding-bottom: 12px;
  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 30px;
  }

  li {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    @include noselect();

    &:hover {
      background-color: darken($gray, 2%);
    }

    &:active {
      background-color: darken($gray, 5%);
    }

    &.active {
      background-color: $black;
      color: $gray;
    }
  }
}
