@import "../variables";

.sort {
  position: relative;
  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;

    svg {
      transform: rotate(0deg);
      transition: transform 0.15s ease-out;

      &.rotated {
        transform: rotate(180deg);
      }
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }
  }

  &__popup {
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 10px;
    padding: 10px 0;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
    // overflow: hidden;
    width: 160px;

    li {
      padding: 12px 20px;
      cursor: pointer;

      &.active,
      &:hover {
        background: rgba(254, 95, 30, 0.05);
      }

      &.active {
        font-weight: 700;
        color: $orange;
      }
    }
  }
}
