@import "./fonts";
@import "./variables";
@import "./components/all";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Proxima Nova", Roboto;
}

a {
  text-decoration: none;
}

body {
  min-width: 400px;
  background-color: $background;
  padding: 50px 0;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid $black;
  display: inline-block;

  &_type_orange {
    border-bottom: 1px solid $orange;
  }

  &_type_white {
    border-bottom: 1px solid $white;
  }
}

.wrapper {
  background-color: #fff;
  width: calc(100vw - 100px);
  min-width: 360px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 1400px;
  // height: 100%;
  @media (max-width: 768px) {
    width: calc(100vw - 40px);
  }
}

.container {
  margin: 0 auto;
  width: $container-width;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.content {
  padding: 40px;

  &__sort {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__categories {
    margin-right: 20px;
  }

  &__title {
    margin: 35px 0;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
  }

  &__grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media (max-width: 1480px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 1280px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    column-gap: 40px;
    row-gap: 70px;
    @media (max-width: 768px) {
      row-gap: 50px;
    }
  }

  &__cart {
    margin: 0 auto;
  }
}
